/* ----------------super charger element ---------------- */
.supercharge {
  width: 100%;
  min-height: 400px;
  background-image: url("./pictures/House1.png");
  background-attachment: cover;
  padding-top: 0px;
  padding-left: 80px;
  position: relative;
}

.su_theme1 {
  width: 61px;
  height: 63px;
  margin-top: 84px;
  font-weight: bold;
  display: inline-flex;
  color: #7e2790;
}

.su_theme2 {
  max-width: 432px;
  min-height: 95px;
  margin-top: 0px;
  margin-left: 16px;
  padding-left: 16px;
  padding-right: 16px;
  letter-spacing: 3px;
  font-weight: bold;
  display: inline-flex;
  background-color: #313131;
  color: white;
}

.su_theme3 {
  max-width: 259px;
  min-height: 45px;
  margin-top: 48px;
  margin-bottom: 0px;
  font-weight: normal;
  display: flex;
  color: #7d7d7d;
}

.su_theme4 {
  position: absolute;
  max-width: 259px;
  min-height: 46px;
  margin-bottom: 0px;
  font-weight: normal;
  color: #7d7d7d;
}

.su_theme5 {
  max-width: 534px;
  min-height: 26px;
  margin-top: 54px;
  font-weight: normal;
  display: flex;
  color: #7d7d7d;
}

.su_theme6 {
  width: 169px;
  height: 21px;
  margin-top: 32px;
  font-weight: bold;
  display: flex;
  color: #b72790;
}

.su_pic {
  position: absolute;
  width: 667px;
  height: 400px;
  left: 599px;
  top: 84px;
  padding-left: 40px;
  padding-right: 40px;
}

.circlebox {
  position: absolute;
  width: 16px;
  height: 136px;
  left: 92.8%;
  top: 247px;
  /* linear-gradient(84.34deg, #470662 -41.31%, #b72790 127.51%); */
  border-radius: 32px;
  margin-top: 0px;
}

.su_circle {
  width: 16px;
  height: 16px;
  left: 92.8%;
  top: 246px;
  /* linear-gradient(84.34deg, #470662 -41.31%, #b72790 127.51%); */
  border-radius: 32px;
  margin-top: 24px;
  border: solid 1px;
}

/* -------------- intro element----------------- */
.intro {
  width: 100%;
  min-height: 459px;
  position: relative;
}

.intro_theme1 {
  max-width: 252px;
  min-height: 26px;
  margin-left: 37.391%;
  margin-top: 204px;
  margin-bottom: 0px;
  font-weight: normal;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #7e2790;
}

.intro_theme2 {
  max-width: 281px;
  min-height: 45px;
  margin-left: 37.391%;
  margin-top: 8px;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #470662;
}

.intro_theme3 {
  max-width: 367px;
  min-height: 69px;
  margin-left: 37.391%;
  margin-top: 16px;
  font-weight: normal;
  color: #7d7d7d;
}

.intro_theme4 {
  max-width: 200px;
  min-height: 21px;
  margin-left: 37.391%;
  margin-top: 24px;
  font-weight: normal;
  color: #b72790;
}

.intro_theme4 > img {
  margin-left: 16px;
}

.intro_outcircle {
  position: absolute;
  width: 27.8%;
  top: 28.5%;
  margin-left: 41.25%;
  opacity: 0.5;
  z-index: -1;
}

.house {
  bottom: 0px;
  position: absolute;
  margin-left: -15px;
  width: 720px;
}

.overhouse {
  bottom: 0px;
  position: absolute;
  margin-left: -15px;
  width: 720px;
  opacity: 0.8;
}

.location_theme {
  margin-left: 40px;
  margin-top: 40px;
  color: white;
  font-weight: bold;
}

.location_cont {
  width: 416px;
  height: 98px;
  margin-top: 32px;
  margin-left: 40px;
  font-weight: normal;
  color: white;
}

.location_direct {
  margin-top: 16px;
  margin-left: 40px;
  margin-bottom: 50px;
  max-width: 155px;
  min-height: 21px;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #e336b4;
}

.row {
  min-height: 460px;
}

/* ------------------why us-------------------- */
.wrapper {
  min-height: 436px;
  position: relative;
}

.girlpic {
  position: absolute;
  width: 100%;
  left: 0px;
}

.overgirlpic {
  position: absolute;
  left: 0px;
  top: 0;
  width: 100%;
}

.comtxt {
  display: flex;
  align-items: center;
}

.wh_theme1 {
  max-width: 252px;
  min-height: 26px;
  margin-left: 67px;
  margin-top: 80px;
  margin-bottom: 0px;
  font-weight: normal;
  letter-spacing: 0.1em;
  color: #7e2790;
}

.wh_theme2 {
  max-width: 281px;
  min-height: 45px;
  margin-left: 67px;
  margin-top: 8px;
  margin-bottom: 0px;
  font-weight: bold;
  color: #470662;
}

.wh_theme3 {
  max-width: 560px;
  min-height: 159px;
  margin-left: 67px;
  margin-top: 16px;
  margin-bottom: 0px;
  padding-right: 10px;
  font-weight: normal;
  color: #7d7d7d;
}

.wh_theme4 {
  margin-left: 67px;
}
/* --------------------- products ------------------ */
.pro_theme1 {
  max-width: 252px;
  min-height: 26px;
  margin-left: 36.1%;
  margin-top: 264px;
  margin-bottom: 0px;
  font-weight: normal;
  letter-spacing: 0.1em;
  color: #7e2790;
}

.pro_theme2 {
  font-weight: bold;
  font-size: 40px;
  margin-top: 8px;
  line-height: 49px;
  color: #470662;
}

.prostage1 {
  min-height: 83px;
  background-color: #fff;
}

.prostage2 {
  min-height: 420px;
  margin-top: 22px;
  position: relative;
  background-image: linear-gradient(
    168.22deg,
    #bf078d -31.84%,
    #510a6f 118.07%
  );
}

.pro_robot {
  position: absolute;
  width: 14.72%;
  bottom: 9.5%;
  margin-left: 13.26%;
  z-index: 1;
}

.pro_circles {
  position: absolute;
  margin-left: 5.555%;
  bottom: 43.1%;
}

.pro_fadehouse {
  margin-left: 20.625%;
  position: absolute;
}

.pro_colorcircle {
  position: absolute;
  margin-left: 86.1%;
  bottom: 401px;
  width: 120px;
  height: 60px;
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
  background-color: rgb(138, 11, 128);
}

.pro_theme3 {
  max-width: 620px;
  min-height: 109px;
  margin-left: 36.111%;
  padding-top: 31px;
  font-weight: normal;
  color: #ffffff;
}

.pro_theme4 {
  max-width: 204px;
  min-height: 21px;
  margin-left: 36.111%;
  margin-top: 42px;
  font-weight: normal;
  color: #ffffff;
}

.pro_theme4 > img {
  margin-left: 24px;
}

.pro_theme5 {
  position: absolute;
  max-width: 346px;
  min-height: 29px;
  right: 19.44%;
  bottom: 102px;
  font-weight: normal;
  text-align: right;
  color: white;
  display: flex;
  margin-bottom: 0px;
}

.pro_theme5 > strong {
  font-weight: bold;
}
.pro_leftarrow {
  position: absolute !important;
  border-radius: 80px;
  width: 72px;
  height: 72px;
  background-color: #470662;
  opacity: 0.3;
  right: 12.22%;
  bottom: 80px;
  align-content: center;
}

.pro_rightarrow {
  position: absolute !important;
  border-radius: 80px;
  width: 72px;
  height: 72px;
  background-color: #470662;
  opacity: 0.8;
  right: 5.55%;
  bottom: 80px;
  align-content: center;
}

.white {
  color: white;
}

/* ----------------pic container --------------- */
.left {
  padding-top: 32px;
  padding-left: 0px;
  padding-right: 16px;
}

.right {
  padding-top: 32px;
  padding-left: 16px;
  padding-right: 0px;
}
.pic {
  width: 100%;
}

.viewwin {
  align-items: center;
}

.pic_theme {
  position: absolute;
  top: 40px;
  font-weight: bold;
  align-items: center;
  text-align: center;
  width: 100%;
  color: #fafafa;
}

.pic_content {
  position: absolute;
  top: 93px;
  width: 100%;
  font-weight: normal;
  align-items: center;
  text-align: center;
  color: #fafafa;
}

/* ---------------  our client -------------------- */
.cli_theme1 {
  margin-top: 80px;
  margin-left: 8.48%;
  margin-bottom: 0px;
  font-weight: normal;
  letter-spacing: 0.1em;
  color: #7e2790;
}

.cli_theme2 {
  margin-top: 8px;
  margin-left: 8.3%;
  margin-bottom: 24px;
  font-weight: bold;
  color: #470662;
}

/* ---------------------owl--------------------- */
.owl {
  width: 240px !important;
}

@media only screen and (max-width: 1440px) {
  .left {
    padding-left: 32px;
  }
  .right {
    padding-right: 32px;
  }
}

@media only screen and (max-width: 1280px) {
  .su_pic {
    width: 550px;
    height: 350px;
    left: 529px;
    top: 80px;
  }
  .left {
    padding-left: 16px;
  }
  .right {
    padding-right: 16px;
  }
  .pro_colorcircle {
    background-color: rgb(143, 11, 129);
  }
  .wh_theme1,
  .wh_theme2,
  .wh_theme3,
  .wh_theme4 {
    margin-left: 20px;
  }
  .wh_theme1 {
    margin-top: 40px;
  }
  .pro_leftarrow,
  .pro_rightarrow {
    border-radius: 60px;
    width: 60px;
    height: 60px;
    padding: 0px;
  }
  .owl {
    width: 160px !important;
  }
}

@media only screen and (max-width: 1080px) {
  .su_pic {
    width: 350px;
    height: 250px;
    left: 329px;
    top: 180px;
  }

  .pro_theme3 {
    margin-right: 50px;
  }
  .owl {
    width: 120px !important;
  }
  .pro_leftarrow,
  .pro_rightarrow {
    border-radius: 40px;
    width: 40px;
    height: 40px;
    bottom: 90px;
  }
  .pro_colorcircle {
    background-color: rgb(146, 12, 132);
    right: 60px;
  }
  .intro_theme1,
  .intro_theme2,
  .intro_theme3,
  .intro_theme4 {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 800px) {
  .supercharge {
    padding-left: 60px;
  }
  .overhouse,
  .house {
    width: 760px;
  }
  .prostage1 {
    margin-top: 40px;
  }
  .pro_leftarrow,
  .pro_rightarrow {
    bottom: 40px;
  }
  .pro_leftarrow {
    right: 120px;
  }
  .pro_rightarrow {
    right: 40px;
  }
  .pro_colorcircle {
    display: none;
  }
  .pro_theme1 {
    margin: auto;
  }
}

@media only screen and (max-width: 767px) {
  .supercharge {
    padding-left: 40px;
  }
  .su_theme5 {
    padding-right: 40px;
  }
  .intro_theme1 {
    margin-top: 20px;
  }

  .intro_theme1,
  .intro_theme2,
  .intro_theme3,
  .intro_theme4 {
    margin-left: 30px;
  }

  .row {
    height: 580px;
  }
}

@media only screen and (max-width: 600px) {
  .su_pic {
    width: 350px;
    height: 250px;
    left: 30px;
    top: 180px;
    opacity: 0.7;
  }
  .owl {
    width: 80px !important;
  }
  .location_cont {
    width: 80vw;
  }
  .su_theme1 {
    padding-right: 10px;
  }
  .su_theme2 {
    min-height: 70px;
    margin-left: 5px;
    padding-left: 5px;
  }
}
