.wrapper {
  min-height: 88px;
  display: block;
  background-color: #fff;
}

.content {
  max-width: 1440px;
  margin: auto;
  border: none;
  box-shadow: none;
  padding: 0px;
  min-height: 70px;
}

.brand {
  width: 182px;
  height: 40px;
  margin: auto 80px;
  margin-right: 52px;
}

.leftmenu > li {
  padding: 12px;
}

.leftmenu > li > a {
  font-family: "Nunito";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: black !important;
}

.leftmenu > li > a:hover {
  color: red !important;
}

.user {
  width: 24px;
  height: 24px;
  margin-right: 64px;
}

@media only screen and (max-width: 1280px) {
  .wrapper {
    min-height: 70px;
  }
  .content {
    min-height: 52px;
  }
  .leftmenu > li {
    padding: 5px;
  }
}

@media only screen and (max-width: 1024px) {
  .brand {
    margin: auto 30px;
  }
}

@media only screen and (max-width: 840px) {
  .brand {
    margin: auto 30px 10px;
  }
  .user {
    margin-right: -10px;
  }
}

@media only screen and (max-width: 768px) {
  .leftmenu > li > a {
    margin-left: 30px;
  }
  .user {
    margin-left: 40px;
  }
}
