.wrapper {
  background-color: #470662;
}
.container {
  max-width: 1440px;
  min-height: 751px;
  margin: auto;
  position: relative;
}

.deccircle {
  position: absolute;
  width: 120px;
  height: 112.17px;
  top: -37px;
  border-radius: 50%;
  background-color: #470662;
}

.circle1 {
  left: 80px;
}

.circle2 {
  right: 80px;
}

.contact {
  width: 100%;
  padding-top: 15px;
  min-height: 269px;
  display: flex;
  align-items: center;
}

.subscribe {
  width: 472px;
  height: 56px;
  margin-left: 120px;
  border: solid 1px #fff;
}

.news {
  width: 320px;
  height: 100%;
  border-right: solid 1px #fff;
  display: inline-flex;
  align-items: center;
}

.newscontent {
  color: white;
  margin-bottom: 0px;
  margin-left: 16px;
  font-style: normal;
  font-weight: normal;
  display: flex;
  align-items: center;
}

.subbtnwrapper {
  display: inline;
  color: white;
  width: 149px;
  height: 53px;
  margin: 0px;
}

.subbtn {
  width: 149px;
  height: 53px;
  margin: 0px;
  margin-top: -2px;
  margin-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;
  text-transform: none;
  color: white;
  background-color: #600e83;
}

.subbtn:hover {
  color: white !important;
}

.iconbox {
  width: 352px;
  height: 64px;
  margin-left: 8px;
  display: inline-flex;
  justify-content: space-between;
  position: relative;
  float: left;
}

.iconbox > div {
  height: 64px;
  width: 64px;
  background-color: #600e83;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.contactbox {
  width: 185px;
  height: 106px;
  float: left;
  margin-left: 40px;
}

.icontact {
  display: flex;
  align-content: center;
  align-items: center;
}

.theme1 {
  font-style: normal;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.theme2 {
  color: #fff;
  margin-top: 16px;
  font-style: normal;
  font-weight: normal;
  display: flex;
  align-items: center;
}

.sector {
  background-color: white;
  color: white;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 83.33%;
}

.product {
  padding-left: 68px;
}

.organization {
  padding-left: 34px;
}

.resources {
  padding-left: 53px;
}

.company {
  padding-left: 42px;
}

.topic {
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
  margin-top: 80px;
  margin-bottom: 24px;
}

.item {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  height: 27px;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-top: 16px;
  margin-bottom: 0px;
}

.copyright {
  position: absolute;
  bottom: 40px;
  display: flex;
  margin: auto;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
}

.copydiv {
  position: relative;
  width: 100%;
  height: 105px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1280px) {
  .news {
    width: 220px;
  }
  .subscribe {
    width: 372px;
  }
  .product,
  .organization,
  .resources,
  .company {
    padding-left: 15px;
  }
  .sector {
    margin-left: 8.33%;
  }
}

@media only screen and (max-width: 1024px) {
  .subscribe {
    margin: auto;
  }
  .icontact {
    justify-content: center;
  }
  .product {
    padding-left: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .topic,
  .item {
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .padding1 {
    display: none;
  }
  .product,
  .organization,
  .resources,
  .company {
    padding-left: 150px;
  }
  .topic {
    margin-top: 40px;
    margin-bottom: 3px;
  }
  .item {
    margin-top: 3px;
  }
  .topic,
  .item {
    display: flex;
  }

  .iconbox > div {
    height: 40px;
    width: 40px;
    background-color: #600e83;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .subbtn {
    margin-top: 0px;
  }

  .subscribe {
    margin-left: 20px;
  }
}
